* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --clr-yellow: #f2e257;
  --clr-black: #1e1e1e;
}

body {
  background: var(--clr-yellow);
  min-height: 100dvh;
  flex-direction: column;
  justify-content: space-between;
}

.flexbox {
    display: flex;
}

img {
  max-width: 100%;
}

main,
nav {
  width: 90%;
  margin: 0 auto;
}

header {
  background: var(--clr-black);
  padding-block: 10px;
}

.logo {
  align-items: center;
}
.logo__img {
  height: 60px;
}
.logo__text {
  font-family: "Slackey", serif;
  text-transform: uppercase;
  font-size: 1.5rem;
  color: var(--clr-yellow);
}

.card {
  font-family: "Spicy Rice", serif;
  margin-block: 32px 40px;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 24px;
}
.card__figure, .card__image {
border-radius: 1.5rem;
}
.card__figure {
  max-width: 300px;
  background: #fff;
  padding: 1rem 1rem .5rem 1rem;
  box-shadow: 8px 8px var(--clr-black);
  border: .125rem solid;
  transition: all 0.3s ease-in-out;
}
.card__caption {
font-size: 1rem;
text-align: center;
}
#burger:hover {
  background: #f1a155;
}
#pasta:hover {
  background: hsl(10, 100%, 75%);
}
#lemonade:hover {
  background: #cdd18e;
}

footer {
  font-family: "Lato", serif;
  font-size: .75rem;
  letter-spacing: .54rem;
  background: var(--clr-black);
  text-align: center;
  padding: 8px;
  color: var(--clr-yellow);
}
footer > a {
  color: cyan;
  text-decoration: none;
}